.single-truck img{
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    border-radius: 10px;
}
.single-truck .details-btn:hover{
    background-color: green;
    border: none;
    border-radius: 15px;
}