.upgrade-quantity{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.manageInventories-btn{
    align-items: flex-end;
    justify-content: end;
    font-size: 24px;
    color:white;
}
.manageInventories-btn:hover{
    color:yellow
}
.minus-btn{
    margin-bottom: 5px;
}